#exemplo
    h1 Yo Vale is awesome
    p.
        Now, you can make
        amazing things!!

script(src='#{path}js/helpers.js')
script(src='#{path}js/lib/require.js')

if useJquery
    script.
        window.jQuery || document.write('<script src="#{path}js/lib/jquery.js"><\/script>');

script.
    var devDebug = #{debug};
    window.pathFinal = "#{path}";

if debug
    script.
        //- Somente para dev | 127.0.0.1
        var hostname = window.location.hostname;
        var yourIP = "192.168.1.215";
        if (hostname == "localhost" || hostname == yourIP) {
            //- Coloque os scripts dev dependencies
            //- Exemplo:
            //- window.loadScript('//' + hostname + '/github/fancyBox/source/jquery.fancybox.js');
            //- window.loadCss('//' + hostname + '/github/fancyBox/source/jquery.fancybox.css');
        }

script.
    requirejs.config({
        waitSeconds: 30,
        config:{
            i18n: {
                locale: window.parent.document.documentElement.lang || 'pt-br'
            }
        },
        baseUrl: "#{path}js"
    });
    require(['#{path}js/main.js']);